@charset "utf-8";

@import "bootstrap";

/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.carousel-control.right{
  background-image: none
}
.carousel-control.left{
  background-image: none
}

