@charset "utf-8";

@import "bootstrap";

.main{
  min-height: 600px
}


/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.carousel-control.right{
  background-image: none
}
.carousel-control.left{
  background-image: none
}

.nav-logo{
  float: left;
  margin-right: 10px;
}
.brand-img{
  width: 50px;
  height: 50px;
}

.hero-img{
  width: 100%;
}

/* Red
$bgDefault      : #e74c3c;
$bgHighlight    : #c0392b;
$colDefault     : #ecf0f1;
$colHover       : #ffbbbc;
 */

/*
$bgDefault      : #2ecc71;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; */

/*
$bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff;*/
/* Orange */
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1;


/* --- Style --- */
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHover; }}
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHover;   }}}
    .active {
      > a, > a:hover, > a:focus {
        color: $colHover;
        background-color: $bgHighlight; }}
    .open {
      > a, > a:hover, > a:focus {
        color: $colHover;
        background-color: $bgHighlight;
        .caret {
          border-top-color: $colHover;
          border-bottom-color: $colHover; }}}
    > .dropdown {
      > a {
        .caret {
          border-top-color: $colDefault;
          border-bottom-color: $colDefault; }
        &:hover, &:focus {
          .caret {
            border-top-color: $colHover;
            border-bottom-color: $colHover; }}}}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHover;
      background-color: $bgHighlight; }}
}
