

div id="carousel" class="carousel slide" date-ride="carousel"
  ol class="carousel-indicators"
    li data-target="#carousel" data-slide-to="0" class="active"
    li data-target="#carousel" data-slide-to="1"
    li data-target="#carousel" data-slide-to="2"
    li data-target="#carousel" data-slide-to="3"
  div class="carousel-inner" role="listbox"
    .item.active
      img data-src="images/1.jpg" src="images/1.jpg"
      .carousel-caption
        | angel1
    .item
      img data-src="images/1.jpg" src="images/1.jpg"
      .carousel-caption
        | angel2
    .item
      img data-src="images/1.jpg" src="images/1.jpg"
      .carousel-caption
        | angel3
    .item
      img data-src="images/1.jpg" src="images/1.jpg"
      .carousel-caption
        | angel4
  a class="left carousel-control" href="#carousel" role="button" data-slide="prev"
    span class="glyphicon glyphicon-chevron-left" aria-hidden="true"
    span class="sr-only"
      | Previous
  a class="right carousel-control" href="#carousel" role="button" data-slide="next"
    span class="glyphicon glyphicon-chevron-right" aria-hidden="true"
    span class="sr-only"
      | Next
hr
.container
  .row 
    .col-sm-6.col-md-3
      .thumbnail
        img src="http://img0.bdstatic.com/img/image/4a75a05f8041bf84df4a4933667824811426747915.jpg"
        .caption 
          h3 Thumbnail label
          p  sdfadfad
    .col-sm-6.col-md-3
      .thumbnail
        img src="http://img0.bdstatic.com/img/image/4a75a05f8041bf84df4a4933667824811426747915.jpg"
        .caption 
          h3 Thumbnail label
          p  sdfadfad
    .col-sm-6.col-md-3
      .thumbnail
        img src="http://img0.bdstatic.com/img/image/4a75a05f8041bf84df4a4933667824811426747915.jpg"
        .caption 
          h3 Thumbnail label
          p  sdfadfad
    .col-sm-6.col-md-3
      .thumbnail
        img src="http://img0.bdstatic.com/img/image/4a75a05f8041bf84df4a4933667824811426747915.jpg"
        .caption 
          h3 Thumbnail label
          p  sdfadfad
hr
.container
  footer.footer
    p &copy; 阳光点点 All Rights Reserved
    p
      | 友情链接
      a href="http://www.yuxian.me" target="_blank" 蔚县@我

